html {
    position: relative;
    min-height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer.footer {
    vertical-align: center;
}

.save-icon {
    padding-left: 1%;
}

div.casalibro {
    background-color: #004d43;
}

a.white_link {
    color: white;
}

a.pagination_link {
    color: #6c757d;
    border-color: #6c757d;
}

a.pagination_link:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.bg-booknet {
    background-color: #524a33;
}

img.black-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.btn-todostuslibros {
  color: #fff;
  background-color: #ee6314;
  border-color: #ee6314;
}

.btn-todostuslibros:hover {
  color: #fff;
  background-color: #9E3D06;
  border-color: #9E3D06;
}