{% extends 'base.html' %}

{% block tituloActiva %} active{% endblock %}

{% block titulo %}Búsqueda por título{% endblock %}

{% block contenido %}
    <div class="">
        <h3>Busca libros por título</h3>
        <form id="formulario" method="post" action=''>{% csrf_token %}
            <div class="form-group">
                <label for="{{ formulario.title.id_for_label }}">
                    Título:
                </label>
                <input type="text" id="{{ formulario.title.id_for_label }}"
                        name="{{ formulario.title.html_name }}"
                        {% if formulario.title.field.required %}required{% endif %}
                        class="form-control{% if formulario.title.errors %} is-invalid{% endif %}"
                        value="{% if formulario.title.value %}{{ formulario.title.value }}{% endif %}">
                {% if formulario.title.help_text %}
                <small class="text-muted">
                    {{ formulario.title.help_text }}
                </small>
                {% endif %}
                {% for err in formulario.title.errors %}
                    <span class="invalid-feedback">{{ err }}</span>
                {% endfor %}
            </div>
            <button class="btn btn-dark mb-2" type='submit'>Buscar por título</button>
    	</form>
    </div>
    <hr>

    {% include 'vistaresultados.html' %}

{% endblock %}