{% extends 'base.html' %}

{% block avanzadaActiva %} active{% endblock %}

{% block titulo %}Búsqueda avanzada{% endblock %}

{% block contenido %}
    <div class="">
        <h3>Búsqueda avanzada</h3>
        <form id="formulario" method="post" action=''>{% csrf_token %}
            <div class="form-group">
                <label for="{{ formulario.title.id_for_label }}">
                    Título:
                </label>
                <input type="text" id="{{ formulario.title.id_for_label }}"
                        name="{{ formulario.title.html_name }}"
                        {% if formulario.title.field.required %}required{% endif %}
                        class="form-control{% if formulario.title.errors %} is-invalid{% endif %}"
                        value="{% if formulario.title.value %}{{ formulario.title.value }}{% endif %}">
                {% if formulario.title.help_text %}
                <small class="text-muted">
                    {{ formulario.title.help_text }}
                </small>
                {% endif %}
                {% for err in formulario.title.errors %}
                    <span class="invalid-feedback">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="{{ formulario.author.id_for_label }}">
                    Autor:
                </label>
                <input type="text" id="{{ formulario.author.id_for_label }}"
                        name="{{ formulario.author.html_name }}"
                        {% if formulario.author.field.required %}required{% endif %}
                        class="form-control{% if formulario.author.errors %} is-invalid{% endif %}"
                        value="{% if formulario.author.value %}{{ formulario.author.value }}{% endif %}">
                {% if formulario.author.help_text %}
                <small class="text-muted">
                    {{ formulario.author.help_text }}
                </small>
                {% endif %}
                {% for err in formulario.author.errors %}
                    <span class="invalid-feedback">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="{{ formulario.genre.id_for_label }}">
                    Género:
                </label>
                <select name="{{ formulario.genre.html_name }}" id="{{ formulario.genre.id_for_label }}"
                        class="form-control{% if formulario.genre.errors %} is-invalid{% endif %}"
                        {% if formulario.genre.field.required %}required{% endif %}>
                    {% for choice in formulario.genre.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                {% for err in formulario.genre.errors %}
                    <span class="invalid-feedback">{{ err }}</span>
                {% endfor %}
                {% if formulario.genre.help_text %}
                <small class="text-muted">
                    {{ formulario.genre.help_text }}
                </small>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ formulario.publisher.id_for_label }}">
                    Editorial:
                </label>
                <select name="{{ formulario.publisher.html_name }}" id="{{ formulario.publisher.id_for_label }}"
                        class="form-control{% if formulario.publisher.errors %} is-invalid{% endif %}"
                        {% if formulario.publisher.field.required %}required{% endif %}>
                    {% for choice in formulario.publisher.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                {% for err in formulario.publisher.errors %}
                    <span class="invalid-feedback">{{ err }}</span>
                {% endfor %}
                {% if formulario.publisher.help_text %}
                <small class="text-muted">
                    {{ formulario.publisher.help_text }}
                </small>
                {% endif %}
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ formulario.start.id_for_label }}">
                        Desde:
                    </label>
                    <input type="number" id="{{ formulario.start.id_for_label }}"
                            name="{{ formulario.start.html_name }}"
                            {% if formulario.start.field.required %}required{% endif %}
                            class="form-control{% if formulario.start.errors %} is-invalid{% endif %}"
                            value="{% if formulario.start.value %}{{ formulario.start.value }}{% endif %}">
                    {% if formulario.start.help_text %}
                    <small class="text-muted">
                        {{ formulario.start.help_text }}
                    </small>
                    {% endif %}
                    {% for err in formulario.start.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ formulario.end.id_for_label }}">
                        Hasta:
                    </label>
                    <input type="number" id="{{ formulario.end.id_for_label }}"
                            name="{{ formulario.end.html_name }}"
                            {% if formulario.end.field.required %}required{% endif %}
                            class="form-control{% if formulario.end.errors %} is-invalid{% endif %}"
                            value="{% if formulario.end.value %}{{ formulario.end.value }}{% endif %}">
                    {% if formulario.end.help_text %}
                    <small class="text-muted">
                        {{ formulario.end.help_text }}
                    </small>
                    {% endif %}
                    {% for err in formulario.end.errors %}
                        <span class="invalid-feedback">{{ err }}</span>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-dark mb-2" type='submit'>Buscar por título</button>
    	</form>
    </div>
    <hr>

    {% include 'vistaresultados.html' %}

{% endblock %}