{% extends 'base.html' %}

{% block titulo %}Te recomendamos tu próximo libro{% endblock %}


{% block contenido %}
    <div class="title">
        <h2 class="text-center">Encuentra tu próximo libro</h2>
        <form id="formulario" method="post" action='/titulos/'>{% csrf_token %}
            <div class="form-group">
                <label for="{{ formulario.title.id_for_label }}">
                    <h6>Busca por título o título original</h6>
                </label>
                <input type="text" id="{{ formulario.title.id_for_label }}"
                        name="{{ formulario.title.html_name }}"
                        {% if formulario.title.field.required %}required{% endif %}
                        class="form-control{% if formulario.title.errors %} is-invalid{% endif %}"
                        value="{% if formulario.title.value %}{{ formulario.title.value }}{% endif %}">
                {% if formulario.title.help_text %}
                <small class="text-muted">
                    {{ formulario.title.help_text }}
                </small>
                {% endif %}
                {% for err in formulario.title.errors %}
                    <span class="invalid-feedback">{{ err }}</span>
                {% endfor %}
            </div>
            <button class="btn btn-dark mb-2" type='submit'>Buscar</button>
    	</form>
    </div>
    <div>
        {% if user.is_authenticated %}
            <div class="row">
                <h2 class="text-center col-md-12">Hola, {{ user.username }}</h2>
            </div>
            {% include 'vistaalgunasrecomendaciones.html' %}
        {% else %}
            <div class="row">
                <h2 class="text-center col-md-12">Guarda los libros que más te gusten y nosotros te recomendaremos libros similares. Sin más.</h2>
                <h4 class="text-center col-md-12">Solo tienes que <a href="/register">registrarte.</a></h4>
            </div>
        {% endif %}
    </div>
    <div>

    </div>
{% endblock %}