{% extends 'base.html' %}

{% block tituloActiva %} active{% endblock %}

{% block titulo %}{{ libro.titulo }}{% endblock %}

{% block contenido %}
    {% if msg %}
    <div class="alert alert-info" role="alert">
        {{ msg }}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12 book-title">
            <h3 class="d-inline-block align-middle">{{ libro.titulo }}  </h3>
            <form class='d-inline-block' id="formulario" action="" method="POST">{% csrf_token %}
                <span class="d-inline-block align-middle save-icon">
                    <button class="btn btn-primary-outline" type="submit">
                        <i class="{% if saved %}fas{% else %}far{% endif %} fa-heart"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>
    <div class="row">
        <h6 class="col-md-12">{{ libro.autor.nombre }}</h6>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ libro.url_imagen }}"  alt=""/>
        </div>
        <div class="col-md-6">
            <div class="row">
                <strong class="col-md-12">Título original:</strong><br>
                <p class="col-md-12">{{ libro.titulo_original }}</p>
            </div>
            <div class="row">
                <strong class="col-md-12">Editorial:</strong><br>
                <p class="col-md-12">{{ libro.editorial }}</p>
            </div>
            <div class="row">
                <strong class="col-md-12">Año de publicación:</strong>
                <p class="col-md-12">{{ libro.anyo_publicacion }}</p>
            </div>
            <div class="row">
                <h6>Aquí irá el enlace de compra, si hay.</h6>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h5>Sinopsis</h5>
        {% if libro.sinopsis %}
            <div class="text">{{ libro.sinopsis | safe }}</div>
        {% else %}
            <p>No hay sinopsis.</p>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <hr>
        <p>Aquí irán los libros recomendados para el usuario.</p>
    {% endif %}

{% endblock %}