    <hr>
    <div class="row">
        <h5>Libros recomendados para ti</h5>
    </div>
    <div class="row">
        {% for book in recomendados %}
        <div class="list-inline col-md-3 d-flex justify-content-center text-center">
            <a class="list-inline-item list-group-item-action align-middle" href="/libro/{{ book.id }}">
                <img src="{{ book.url_imagen }}"  alt="" width="120px" height="160px"/>
                <h6>{{ book.titulo }}</h6>
            </a>
        </div>
        {% endfor %}
    </div>